{% block page_footer %}
            <!-- Begin main footer section 
            =============================== -->
            <section class="footer-section">
                <div class="footer-content">
                    <div class="footer-inner clear footer-upper">
                        <div class="footer-widget">
                            <h5>CONTACT</h5>
                            <address>
                                FreeAustinMLSSearch.com <br>
                                11701 Bee Cave Rd<br>Suite 140<br> Austin, TX 78728

                            </address>
                            <a href="tel:(512)416-9990">(512) 416-9990</a>
                            <a href="mailto:info@freeaustinmlssearch.com">info@freeaustinmlssearch.com</a>
                        </div>
                        <div class="footer-widget">
                            <h5>Quick Links</h5>
                            <div class="widget-nav">
                                <ul>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Register</a></li>
                                    <li><a href="#">My Favorites</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-widget">
                            <h5>Recent Posts</h5>
                            <p>7 Critical Questions to Ask Before Starting Your Austin Home Search</p>
                            <cite>September 22, 2017</cite>
                            <p>The Top 10 Master Planned Communities in the Austin Area</p>
                            <cite>September 15, 2017</cite>
                        </div>
                        <div class="footer-widget">
                            <h5>Newsletter</h5>
                            <p>Subscribe to our newsletter and receive the lastest Austin real estate news and updates</p>
                            <div class="input-wrap">
                                <form action="#" method="post">
                                    <div class="input-row">
                                        <input type="text" value="Name" class="transparent-btn">
                                    </div>
                                    <div class="input-row ">
                                        <input type="text" value="Email" class="transparent-btn">
                                    </div>
                                    <div class="submit-btn">
                                        <input type="submit" value="SUBSCRIBE" class="blue-btn">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="copyright-section">
                        <div class="footer-inner clear">
                            <div class="copyright">
                                <span>&copy;</span> Copyright 2017 <a href="https://www.freeaustinmlssearch.com/">FreeAustinMLSSearch.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>   
    </body>
</html>
{% endblock %}