{% extends 'base.html.twig' %}
{% block header %}
	{% include('header.html.twig') %}
{% endblock %}

{% block body %}



	<div class="row top-buffer">
		<div class="col-sm-12">
			<h3>Dashboard</h3>
		</div>
	</div>

	<div class="row text-center pad-top">            
	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	        <div class="div-square">
	            <a href="{{path('updateprofile')}}" >
	            <i class="fa fa-user fa-5x"></i><br>
	            <h4>Profile</h4>
	            </a>
	        </div>            
	    </div>

	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	        <div class="div-square">
	            <a href="#" >
	            <i class="fa fa-home fa-5x"></i><br>
	            <h4>My Favorites</h4>
	            </a>
	        </div>            
	    </div>

	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	        <div class="div-square">
	            <a href="#" >
	            <i class="fa fa-search fa-5x"></i><br>
	            <h4>My Searchs</h4>
	            </a>
	        </div>            
	    </div>
	</div>



<br><br><br><br><br><br>

{% endblock %}

{% block footer %}
	{% include('footer.html.twig') %}
{% endblock %}