{% extends 'base.html.twig' %}
{% block header %}
	{% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="container">
	<div class="row top-buffer">
		<div class="col-sm-12">
			<br><br><br>
			<h3>You have exceeded the number of views. <br>Please either login or register to view the property details.</h3>
		</div>
	</div>
	{% include('flash-messages.html.twig') %}
</div>

<br><br><br><br><br><br>

{% endblock %}

{% block footer %}
	{% include('footer.html.twig') %}
{% endblock %}	